body{
	background-color: lightblue;
}
h2{
	color: rgb(42, 56, 165); 
	font-size: 22px; 
	font-style: italic;
	text-decoration: underline;
}
h1{
	background-color: green; font-size: 25px;
}
p{
	color: red;
}
